<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ferry.bowall.mapper.UserMapper" >
  <!--  <select id="getUserList" resultType="com.ferry.bowall.entity.User">
        SELECT * FROM user
    </select>-->

    <select id="getUser" resultType="com.ferry.bowall.entity.User">
        SELECT * FROM user where account = #{account}
    </select>

    <update id="updateUser" parameterType="com.ferry.bowall.entity.User">
        UPDATE user set name = #{name},account = #{account},sign = #{sign},phone = #{phone},avatar = #{avatar} where account = #{account}
    </update>

    <select id="friends" resultType="com.ferry.bowall.entity.User">
        SELECT * FROM user where account in (SELECT followers_account FROM followers where account = #{account})
                             and account in (SELECT account FROM followers where followers_account = #{account})
    </select>
    <select id="getUsers" resultType="com.ferry.bowall.entity.User">
        SELECT * FROM User
        WHERE user.account IN
        <foreach item="account" collection="accounts" open="(" separator="," close=")">
            #{accounts}
        </foreach>
    </select>
</mapper>
